<link href="try-style.css" rel="stylesheet" type="text/css"/>
header{
position: fixed;
}
div.imgcontainer{

div.container {
    margin: 0 auto;
}
    border: 1px solid gray;
 width: 70%;
 height:100%; 
 margin: 0 auto;
 background-color:white ; 
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}


header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    max-width: 250px;
    margin: 0;
    padding: 1em;
}


article {
    margin-left: 30%;
    border-left: 1px solid gray;
    padding: 2em;
    overflow: hidden;
}
mySlides {display:none;}
select {
    width: 50%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;}